$phototaxisBlue-50: #e8f1ff;
$phototaxisBlue-100: #d5e4ff;
$phototaxisBlue-200: #b3ccff;
$phototaxisBlue-300: #85a8ff;
$phototaxisBlue-400: #5676ff;
$phototaxisBlue-500: #2f45ff;
$phototaxisBlue-600: #0c0eff;
$phototaxisBlue-700: #0000ff;
$phototaxisBlue-800: #0609cd;
$phototaxisBlue-900: #10169f;
$phototaxisBlue-950: #0a0b5c;
